// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #4f7878;
$color-brand-2st: #fdE5e1;
$color-brand-3st: #fdE5e1;

$color-white: #FFFFFF;
$color-text:  #222222;
$color-gray:  #5D738D;

// Background Colors
$bg-white:      $color-white;
$bg-dark:       #222228;
$bg-gray:       #fbF9f8;
$bg-gray-light: #FAFAFA;

// Border
$color-border: #e6E4df;

// Links
$color-link: $color-text;

// Share
$color-twitter:   #55ACEE;
$color-facebook:  #3B5998;
$color-pinterest: #bd081c;