<div class="o-grid">

    <div class='o-grid__col o-grid__col--4-4-s'>

        <div class='c-off-canvas-content js-off-canvas-content'>
            <label class='js-off-canvas-toggle c-off-canvas-toggle c-off-canvas-toggle--close'>
                <span class='c-off-canvas-toggle__icon'></span>
            </label>

            <ul class='c-nav o-plain-list '>
                {{ navigation }}
            </ul>


            <div id="app-calendar">


                <span v-bind:title="message">
                    Hover your mouse over me for a few seconds
                    to see my dynamically bound title!
                </span>
            </div>


            {{#if @blog.description}}
                <p class='c-blog-desc'>{{@blog.description}}</p>
            {{/if}}
        </div>
    </div>

</div>
